body {
	margin:10px 0px; padding:0px;
	text-align:center;
	}

#bodywrapper {
	width:75%;
	margin:0px auto;
	text-align:left;
	padding:1em;
	border:.1em dashed #333;
	background-color:#eee;
}

.blog-post-widget{
    padding: .2em;
}

.blog-post-widget-content{
    padding: .2em;
}