{% load i18n %}
<html>
  <head>
    <title>{% block title %}{% endblock %} - AnyBlog</title>

    <link rel="stylesheet" type="text/css" href="/anyblog/media/css/styles.css" media="all" />
    <script type="text/javascript" src="/anyblog/media/js/lib/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/anyblog/media/js/anyblog.js"></script>

    {% block css %}
    {% endblock %}

    {% block preload_js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
  </head>

  <body>
    <div id="header" class="base-header">
      <h1 class="base-header-logo base-header-h1">
          <a href="/anyblog">
            <img src="/anyblog/media/images/logo.png" alt="{%  trans "AnyBlog logo" %}" width="114" height="91">
          </a>
      </h1>
      <div class="base-header-wrapper">
        <h1 class="base-header-h1">{%  trans "AnyBlog" %}</h1>
        <h3 class="base-header-h3">{%  trans "The blog for anyone." %}</h3>
      </div>
    </div>

    <div id="contentwrapper" class="base-content-wrapper">
      <div id="content" class="column">
        {% block content-header %}
          <div id="error" class="error">{{ error }}</div>
          <div id="info" class="info">{{ info }}</div>
          {% if messages %}
            {% for message in messages %}
              <div class="info">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endblock %}

        {% block content %}{% endblock %}
      </div>

      <div id="sidebar" class="column">
        {% block sidebar %}
        {% endblock %}
      </div>
    </div>

    <div id="footer">
      <p>{%  trans "Sample Google App Engine Application" %}</p>
    </div>

    {% block js %}
    {% endblock %}
  </body>
</html>
