{% load i18n %}
<html>
  <head>
    <title>{% block title %}{% endblock %} - AnyBlog</title>

    <link rel="stylesheet" type="text/css" href="/anyblog/media/css/styles.css" media="all" />

    {% block css %}
    {% endblock %}

    {% block preload_js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
  </head>

  <body>
    <div id="header" class="base-header">
      <h1 class="base-header-logo base-header-h1">
          <a href="">
            <img src="/anyblog/media/images/logo.png" alt="{%  trans "AnyBlog logo" %}">
          </a>
      </h1>

      <h1 class="base-header-h1">{%  trans "AnyBlog" %}</h1>
      <h3>{%  trans "The blog for anyone." %}</h3>
    </div>

    <div id="contentwrapper" class="base-content-wrapper">
      <div id="content" class="column">
        {% block content-header %}
          {% if error %}<div class="error">{{ error }}</div>{% endif %}
          {% if info %}<div class="info">{{ info }}</div>{% endif %}
          {% if messages %}
            {% for message in messages %}
              <div class="info">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endblock %}

        {% block content %}{% endblock %}
      </div>

      <div id="sidebar" class="column">
        {% block sidebar %}
        {% endblock %}
      </div>
    </div>

    <div id="footer">
      <p>{%  trans "Sample Google App Engine Application" %}</p>
    </div>

    {% block js %}
    {% endblock %}
  </body>
</html>
