<div class="ui-widget blog-post-widget">
    <div class="ui-widget-header">
        <h1>{{ blog.title }}</h1>
    </div>
    <div class="ui-widget-content blog-post-widget-content">
        <p>{{ blog.content }}</p>
        <p>Author: {{ blog.author }}</p>
        <p>Created: {{ blog.timestampcreated }}</p>
        <a href="/anyblog/{{ blog.id }}">View</a>
        <a href="/admin/anyblog/blogpost/{{ blog.id }}">Edit</a>
        <a href="/admin/anyblog/blogpost/{{ blog.id }}/delete">Delete</a>
    </div>
</div>