{% extends 'base.html' %}

{% block content %}
    <div id="index_content" class="index-content">
        <div class="index-blog-content">
        {% if latest_blog_list %}
            {% for blog in latest_blog_list %}
                <div class="index-blog-post">
                    {%  include "blogpost.html" %}
                </div>
            {% endfor %}
        {% else %}
            <p>No blogs are available.</p>
        {% endif %}
        </div>
    </div>
   
{% endblock %}

{%  block sidebar %}
    <ul>
        <li><a href="/anyblog">Back</a></li>
    </ul>
{%  endblock %}
