{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{%  block preload_js %}
<script type="text/javascript">
    $(document).ready(function(){
        AnyBlog.setCurrentIndex({{ latest_blog_list|length }});
        $("#viewNext5Link").click(function(event){
            event.preventDefault();
            AnyBlog.handleGetMorePostsClick(5, $("#index_blog_content"));
        });
    });
</script>
{% endblock %}

{% block content %}
    <div id="index_content" class="index-content">
        <div id="index_blog_content" class="index-blog-content">
        {% if latest_blog_list %}
            {% for blog in latest_blog_list %}
                <div class="index-blog-post">
                    {%  include "blogsnippet.html" %}
                </div>
            {% endfor %}
        {% else %}
            <p>No blogs are available.</p>
        {% endif %}
        </div>
        <div>
            <a id="viewNext5Link" href="">View next 5...</a>
        </div>
    </div>
    <div id="archive_content" class="archive-content">
        {% if year_month_dict %}
            <ul class="ui-menu ui-widget ui-widget-content ui-corner-all">
            {% for year, monthlist in year_month_dict.items %}
                <li class="ui-menu-item">{{ year }}</li>
                <ul class="ui-menu ui-widget ui-widget-content ui-corner-all">
                {% for month in monthlist %}
                    <li class="ui-menu-item"><a href="/anyblog/{{ year }}/{{ month.id }}">{{ month.name }}</a></li>
                {% endfor %}
                </ul>
            {% endfor %}
            </ul>
        {% else %}
            <p>No archives are available.</p>
        {% endif %}
    </div>

{% endblock %}

{%  block sidebar %}
    <ul class="ui-menu ui-widget ui-widget-content ui-corner-all">
        <li class="ui-menu-item"><a href="/admin/anyblog/blogpost/add/">Add</a></li>
    </ul>
{%  endblock %}
