{% extends 'base.html' %}

{% block content %}
    <div id="index_content" class="index-content">
        <div class="index-blog-content">
        {% if latest_blog_list %}
            {% for blog in latest_blog_list %}
                <div class="index-blog-post">
                    {%  include "blogsnippet.html" %}
                </div>
            {% endfor %}
        {% else %}
            <p>No blogs are available.</p>
        {% endif %}
        </div>
    </div>
    <div id="archive_content" class="archive-content">
        {% if year_month_list %}
            <ul>
            {% for year in year_month_list %}
                <li><a>{{ year.0 }}</a></li>
                <ul>
                {% for month in year.1 %}
                    <li><a>{{ month }}</a></li>
                {% endfor %}
                </ul>
            {% endfor %}
            </ul>
        {% else %}
            <p>No archives are available.</p>
        {% endif %}
    </div>

{% endblock %}

{%  block sidebar %}
    <ul>
        <li>Add</li>
    </ul>
{%  endblock %}
